<div class="main-container">
  <div class="toolbar" role="banner">
    <span>Road Trip Expenses</span>
  </div>
  <div class="content" role="main">
    <div class="card-container">
      <div *ngFor="let student of studentArr" matInput class="input-group">
        <mat-form-field class="name" appearance="fill">
          <mat-label class="label">Student name</mat-label>
          <input matInput class="input" placeholder="Enter name" [value]="student.name"
            (input)="student.name=$event.target.value" />
        </mat-form-field>
        <mat-form-field class="expense" appearance="fill">
          <mat-label class="label">Student's total expenses for trip</mat-label>
          <input matInput class="input" (keypress)="keyPress($event)" placeholder="Enter total expense"
            [value]="student.expense" (input)="student.expense=$event.target.value" />
        </mat-form-field>
        <mat-form-field class="display" appearance="fill">
          <mat-label class="label">{{student.deltaFromAvg && student.deltaFromAvg < 0
              ? 'Reimburse student to the amount of' : 'Amount owed by student' }}</mat-label>
              <input matInput placeholder="Student owes"
                [value]="(student.deltaFromAvg < 0 ? student.deltaFromAvg * -1 : student.deltaFromAvg) |  currency"
                readonly />
        </mat-form-field>
        <button mat-button (click)="addNewStudent()">Add Student</button>
        <button mat-button (click)="removeStudent(student.name, student.expense)">Remove Student</button>
      </div>
    </div>
  </div>
  <div class="menubar" role="banner">
    <button mat-button (click)="calculate()">Calculate</button>
  </div>
</div>