.main-container {
  overflow-y: hidden;
  .input-group {
    display: inline-block;
    margin: auto auto 20px auto;
    border-bottom: 1.5px solid #3f51b5;
    .name {
      margin-right: 5px;
      margin-left: 5px;
    }
    .expense {
      margin-right: 5px;
      margin-left: 5px;
    }
    .display {
      input disabled {
        color: red;
      }
    }
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .menubar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    button {
      background-color: aqua;
      margin: auto auto auto auto;
      color: black;
      width: 25%;
    }
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: left;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  }
}
